[user]
	name = {{ .git.user.name }}
	email = {{ .git.user.email }}

[includeIf "hasconfig:remote.*.url:{{ .git.pokemon.remote_prefix }}**"]
	path = ~/.gitconfig-pokemon

{{ $helper := index .git.credential_helpers .chezmoi.os -}}
{{- if $helper }}
[credential]
	helper = {{ $helper }}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
[credential "https://github.com"]
	helper =
	helper = "!$HOME/.local/bin/git-credential-bitwarden"
{{- end }}
