{{- $helper := index .git.credential_helpers .chezmoi.os -}}
{{- if $helper -}}
[credential]
	helper = {{ $helper }}
{{- end }}

[credential "https://github.com"]
	helper =
	helper = "!$HOME/.local/bin/git-credential-bitwarden"
